# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development
.env.production
.env.hardhat

# Hardhat
artifacts
typechain-types
cache

# TypeScript declaration files (except vite-env.d.ts)
*.d.ts
!src/vite-env.d.ts

# Contract addresses
contract-addresses*.json

# Coverage report
coverage